<%- include('./layout/head'); %>

<%- include('./layout/nav'); %>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="/store.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courgette&family=Ingrid+Darling&family=Mountains+of+Christmas:wght@700&family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courgette&family=Ingrid+Darling&family=Mountains+of+Christmas:wght@700&family=Roboto&family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
</head>

<main class ='main-about'>
   <div class="main-about-container">
    <h1 class="main-about-head">About T9</h1>
    <p class="main-about-section-par">
        At <a href ='/'> thriftyNigerian</a>, we’re dedicated to redefining fashion with a focus on sustainability and style. 
        Our mission is to offer high-quality, pre-loved clothing that not only makes you look great 
        but also helps the planet. By curating a diverse collection of thrifted garments, we reduce waste and promote a circular economy,
        all while ensuring that every piece is unique and fashion-forward. Join us in 
        making a positive impact on the environment—because great fashion should never come at the expense of our planet.
    </p>
   </div>
</main>

<%- include('layout/footer'); %>

<script src="index.js"></script>   
<script src="https://kit.fontawesome.com/fcf5976527.js" crossorigin="anonymous"></script>




