<div class="footer">
    <div class="footer-container">

       <h1 class="footer-head">T9</h1>

       <div class="footer-flex">
           <div class='address'>
               <h1>ADDRESS</h1>
               <p>600 Castle Edith Street Ipaja<br/> LG 101102<br>
                   elnino@mydomain.com <br>
                   Tel: 123-456-7890 
               </p>
               <div class="contact-icons">
                   <a href = '#'><i class="fa-brands fa-facebook-f"></i></a>
                   <a href='https://www.instagram.com/thrifty9jerian/' target="_blank"><i class="fa-brands fa-instagram"></i></a>
                   <i class="fa-brands fa-pinterest-p"></i>
               </div>
           </div>

           <div class="contact">
               <h1 class="small-text">CONTACT US</h1>
               <div class="contact-flex">
                   <form class="form" class="text">
                       <input  class = 'small-text' type="text" placeholder="Name">
                       <input  type="text" placeholder="Email">
                       <input  type="text" placeholder="Phone">
                   </form>
                   <div class="form-right">
                       <textarea rows="3" cols="13" placeholder="type your message here" class='texts'></textarea>
                       <button>Submit</button>
                   </div>
               </div>
           </div>

           <div class="touch">
               <h1> STAY  IN TOUCH</h1>
               <p>Join our mailing list</p>
               <input type="text" placeholder="Enter your email here">
               <button>Subscribe Now</button>
           </div>
       </div>
       <h1 class="footer-text">© 2024 by THRIFTY 9JERIAN. Powered and secured by <a href='#' class='footer-link'>elNino</a></h1>
    </div>
   </div>